.create-employee-form {
    width: 100%;
    max-width: 620px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

  
.create-employee label {
    color: #5b6f0c;
}
  
.create-employee input {
    display: block;
    width: 100%;
    border: none;
    background: #f1f1f1;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    color: #666;
}

.create-employee select {
    display: block;
    width: 100%;
    border: none;
    background: #f1f1f1;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    color: #666;
}
  
.create-employee fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-color: #5b6f0c;
    border-radius: 5px;
    color: #5b6f0c;
    margin-bottom: 20px;
}
  
.create-employee-form-btn {
    font-size: 1.2rem;
    padding: 5px;
    color: #93ad18;
    font-weight: 500;
    border: 2px solid #93ad18;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}
  
.create-employee-form-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #93ad18;
}
  
.create-employee-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}