.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: #fff;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    min-width: 300px;
    width: 100%;
    max-width: 500px;
}
  
.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
  
.modal-close {
    background: #fff;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
}
  
.modal-close:hover {
    cursor: pointer;
}

.modal-close-btn {
    font-size: 1.5rem;
    color: #5b6f0c;
}