.picker {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #5b6f0c;
    border-radius: 5px;
    padding: 5px 10px;
}
  
.picker:hover {
    cursor: pointer;
}
  
.picker-wrapper {
    margin-bottom: 20px;
    color: #93ad18;
    position: relative;
}
  
.picker-label {
    display: block;
    margin-bottom: 10px;
}
  
.picker-elt {
    border: 1px solid #5b6f0c;
    border-radius: 5px;
    border-top: none;
    padding: 5px;
    position: absolute;
    z-index: 10;
    background: #fff;
    display: none;
}
  
.picker-elt .active {
    display: block;
}
  
.picker-elt-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.picker-elt-header .ul {
    max-height: 400px;
    overflow-y: auto;
}
  
.picker-elt-header-sub {
    display: flex;
    align-items: center;
}
  
.picker-elt-header-btn {
    border: none;
    background: none;
    padding: 5px 10px;
    margin: 0 5px;
}
  
.picker-elt-header-btn:hover {
    cursor: pointer;
}
  
.picker-elt-header-select :hover {
    cursor: pointer;
    text-decoration: none;
}
  
.picker-elt-header-select-label {
    padding: 0 10px 0 0;
    margin: 0 5px;
}

.img-size {
    font-size: 1.5rem;
    height: auto;
    color: black;
}

.img-size-calendar {
    width: 20px;
    height: auto;
}
  
.picker-elt-header-select-options {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #5b6f0c;
} 
.active {
    display: block;
}
  
.picker-elt-header-select-option {
    padding: 5px 10px;
    color: #5b6f0c;
}
  
.picker-elt-header-select-option:hover {
    background: #93ad18;
    color: #fff;
}
  
.picker-elt-table {
    border-collapse: collapse;
    border: 1px solid #5b6f0c;
}
  
.picker-elt-table-header-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #5b6f0c;
}
  
.picker-elt-table-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #5b6f0c;
    text-align: center;
    color: #000;
    font-weight: 500;
    background: #eee;
}
  
.picker-elt-table-cell:hover {
    cursor: pointer;
    color: #fff;
    background: rgba(91, 111, 12, 1);
}
  
.inactive {
    color: #999;
    background: #fff;
}
  
.inactive:hover {
    cursor: initial;
    background: rgba(91, 111, 12, 0.5);
    color: #fff;
}