.hero {
    background-position: 0 -50px;
    background-size: 25%;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.banner {
    width: 100%;
    text-align: center;
    padding: 10px;
}
  
h1 {
    color: #fff;
    margin-bottom: 10px;
    border: solid;
    max-width: 662px;
    margin:auto;
    border-radius: 5px;
    background-color: #93ad18
}
  
.banner, a {
    color: #93ad18;
}
  
.banner, h2 {
    color: #5b6f0c;
    margin-top: 20px;
}

.logo {
    width: 200px;
    height: 184px;
}